In [16]:
"mongodb+srv://jashsuke:d9s6mPHPvSIezLKQ@cluster0.zqqvu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

'mongodb+srv://jashsuke:d9s6mPHPvSIezLKQ@cluster0.zqqvu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [17]:
import pandas as pd
import numpy as np

In [18]:
data=pd.read_csv('onlinefraud_revised.csv')

In [19]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0,0
1,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0,0
2,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0,0
3,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0,0
4,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0,0

In [20]:
data.shape

(200000, 11)

In [21]:
data=data[['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud']]

In [22]:
df=data.to_dict(orient="records")

In [23]:
DB_NAME='ofdm_db'
COLLECTION_NAME='ofdm_collection'
COLLECTION_URL='mongodb+srv://jashsuke:d9s6mPHPvSIezLKQ@cluster0.zqqvu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [24]:
import pymongo
client=pymongo.MongoClient(COLLECTION_URL)
database_name=client[DB_NAME]
collection_name=database_name[COLLECTION_NAME]

In [25]:

rec=collection_name.insert_many(df)

In [28]:
# Count the number of documents in the collection
record_count = collection_name.count_documents({})
record_count

200000

In [29]:
# Delete all records in the collection
# result = collection_name.delete_many({})

In [30]:
# collection_name.drop()

In [31]:
df1=pd.DataFrame(list(collection_name.find()))
df1.head()

,_id,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,66cb268c21325638e0869f14,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0
1,66cb268c21325638e0869f15,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0
2,66cb268c21325638e0869f16,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0
3,66cb268c21325638e0869f17,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0
4,66cb268c21325638e0869f18,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0